[package]
name = "iroha_client"
version = "0.1.0"
authors = ["Iroha 2 team <https://github.com/orgs/soramitsu/teams/iroha2>"]
edition = "2021"
description = "Iroha Client is a Rust Library which encapsulates network related logic and gives users an ability to interact with Iroha Peers like they are non-distributed application."
readme = "README.md"
homepage = "https://github.com/hyperledger/iroha/tree/iroha2-dev"
repository = "https://github.com/hyperledger/iroha/tree/iroha2-dev"
license = "Apache-2.0"
keywords = ["crypto", "blockchain", "ledger", "iroha", "client"]
categories = ["cryptography::cryptocurrencies", "api-bindings"]

[badges]
is-it-maintained-issue-resolution = { repository = "https://github.com/hyperledger/iroha" }
is-it-maintained-open-issues = { repository = "https://github.com/hyperledger/iroha" }
maintenance = { status = "actively-developed" }

[dependencies]
iroha_config = { path = "../config" }
iroha_crypto = { version = "=0.1.0", path = "../crypto" }
iroha_data_model = { version = "=0.1.0", path = "../data_model" }
iroha_logger = { version = "=0.1.0", path = "../logger"}
iroha_version = { version = "=0.1.0", path = "../version" }

attohttpc = "0.18"
eyre = "0.6.5"
http = "0.2.1"
rand = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tungstenite = { version = "0.16" }

[dev-dependencies]
iroha_core = { path = "../core", features = ["dev-telemetry", "telemetry"] }
iroha_permissions_validators = { version = "=0.1.0", path = "../permissions_validators" }
test_network = { path = "../core/test_network" }

color-eyre = "0.5.11"
criterion = "0.3"
tempfile = "3"
tokio = { version = "1.6.0", features = ["rt", "rt-multi-thread"]}

[[bench]]
name = "torii"
harness = false
