[package]
name = "iroha_wasm_derive"

version.workspace = true
authors.workspace = true
edition.workspace = true

license.workspace = true

[lib]
proc-macro = true

[dependencies]
iroha_data_model.workspace = true
syn.workspace = true
quote.workspace = true
proc-macro2.workspace = true
