[package]
name = "iroha_config_base"

edition.workspace = true
version.workspace = true
authors.workspace = true

license.workspace = true

[lints]
workspace = true

[features]
# enables some JSON-related features
json = ["serde_json"]

[dependencies]
merge = "0.1.0"
drop_bomb = { workspace = true }
derive_more = { workspace = true, features = ["from", "deref", "deref_mut"] }
eyre = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_with = { workspace = true, features = ["macros", "std"] }
thiserror = { workspace = true }
num-traits = "0.2.19"

serde_json = { version = "1", optional = true }

[dev-dependencies]
toml = { workspace = true }
