{
  "torii_port": 51051,
  "internal_port": 11001,
  "database": {
     "type": "rocksdb",
     "path": "/tmp/wsv"
  },
  "max_proposal_size": 10,
  "proposal_delay": 5000,
  "vote_delay": 5000,
  "mst_enable": false,
  "mst_expiration_time": 1440,
  "max_rounds_delay": 3000,
  "stale_stream_max_rounds": 2,
  "metrics": "0.0.0.0:7001"
}
