{
  "torii_port": 50051,
  "internal_port": 10001,
  "database": {
     "type": "rocksdb",
     "path": "/path/to/wsv/folder"
  },
  "max_proposal_size": 10,
  "vote_delay": 5000,
  "mst_enable": false,
  "mst_expiration_time": 1440,
  "proposal_creation_timeout": 3000,
  "stale_stream_max_rounds": 2,
  "metrics": "0.0.0.0:7001",
  "healthcheck_port": 50508
}
