version: 2

updates:
  - package-ecosystem: "docker"
    target-branch: "iroha2-dev"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    target-branch: "iroha2-dev"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pip"
    target-branch: "iroha2-dev"
    directory: "/client_cli/pytests/"
    schedule:
      interval: "daily"

  - package-ecosystem: "cargo"
    target-branch: "iroha2-dev"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "cargo"
    target-branch: "iroha2-dev"
    directory: "/wasm/"
    schedule:
      interval: "daily"

  - package-ecosystem: "cargo"
    target-branch: "iroha2-dev"
    directory: "/default_validator/"
    schedule:
      interval: "daily"
