**/target/
**/storage/
**/*.rs.bk
**/rusty-tags.vi
/**/Cargo.lock

crates/iroha_config/__pycaсhe__
**/__pycache__/*
__pycache__/*
build/*
*.profraw
*.DS_Store
*.vscode/
*.swp
*.class
*.gch
*.a
*.o
*.pb.cc
*.pb.h
*.retry
*.code-workspace
.gradle/*
.vscode/*
.idea/*
*.iml
*xcworkspace*
*cmake-build-debug*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/*
cmake-build-debu/*
cmake-build-debug/*
external/*
crates/iroha_core/infra/protobuf
include/generated/*
.obsidian/
.scannerwork/
peers.list
cmake-build*
result

.gtm
/.gtm/

*.deb
\#*
/cargo-timing*.html
/test/
/iroha-java/
/lcov.info
test_docker
**/*.wasm
.iroha_test_network_run.json*
