[workspace.package]
edition = "2021"
version = "2.0.0-pre-rc.19"
# TODO: teams are being deprecated update the authors URL
authors = ["Iroha 2 team <https://github.com/orgs/soramitsu/teams/iroha2>"]

description = "Efficient, simple, Byzantine-fault-tolerant DLT inspired by the Kaizen principle"
repository = "https://github.com/hyperledger/iroha/tree/iroha2-lts"
documentation = "https://hyperledger.github.io/iroha-2-docs"
homepage = "https://iroha.tech"

license = "Apache-2.0"
keywords = ["blockchain", "crypto", "iroha", "ledger"]
categories = ["cryptography::cryptocurrencies"]

[workspace.dependencies]
iroha = { path = "cli" }
iroha_dsl = { version = "=2.0.0-pre-rc.19", path = "dsl" }
iroha_cli_derive = { version = "=2.0.0-pre-rc.19", path = "cli/derive" }
iroha_macro_utils = { version = "=2.0.0-pre-rc.19", path = "macro/utils" }
iroha_wasm_builder = { version = "=2.0.0-pre-rc.19", path = "wasm_builder" }
iroha_telemetry = { version = "=2.0.0-pre-rc.19", path = "telemetry" }
iroha_telemetry_derive = { version = "=2.0.0-pre-rc.19", path = "telemetry/derive" }
iroha_p2p = { version = "=2.0.0-pre-rc.19", path = "p2p" }
iroha_data_model_derive = { version = "=2.0.0-pre-rc.19", path = "data_model/derive" }
iroha_core = { version = "=2.0.0-pre-rc.19 ", path = "core" }
iroha_primitives = { version = "=2.0.0-pre-rc.19", path = "primitives", default-features = false }
iroha_primitives_derive = { version = "=2.0.0-pre-rc.19", path = "primitives/derive" }
iroha_data_model = { version = "=2.0.0-pre-rc.19", path = "data_model" }
iroha_client = { version = "=2.0.0-pre-rc.19", path = "client" }
iroha_config = { version = "=2.0.0-pre-rc.19", path = "config" }
iroha_config_base = { version = "=2.0.0-pre-rc.19", path = "config/base" }
iroha_config_derive = { version = "=2.0.0-pre-rc.19", path = "config/base/derive" }
iroha_schema_gen = { version = "=2.0.0-pre-rc.19", path = "schema/gen" }
iroha_schema = { version = "=2.0.0-pre-rc.19", path = "schema", default-features = false }
iroha_schema_derive = { version = "=2.0.0-pre-rc.19", path = "schema/derive" }
iroha_logger = { version = "=2.0.0-pre-rc.19", path = "logger" }
iroha_crypto = { version = "=2.0.0-pre-rc.19", path = "crypto", default-features = false }
iroha_macro = { version = "=2.0.0-pre-rc.19", path = "macro", default-features = false }
iroha_derive = { version = "=2.0.0-pre-rc.19", path = "macro/derive" }
iroha_futures = { version = "=2.0.0-pre-rc.19", path = "futures" }
iroha_futures_derive = { version = "=2.0.0-pre-rc.19", path = "futures/derive" }
iroha_genesis = { version = "=2.0.0-pre-rc.19", path = "genesis" }
iroha_ffi = { version = "=2.0.0-pre-rc.19", path = "ffi" }
iroha_ffi_derive = { version = "=2.0.0-pre-rc.19", path = "ffi/derive" }
iroha_version = { version = "=2.0.0-pre-rc.19", path = "version", default-features = false }
iroha_version_derive = { version = "=2.0.0-pre-rc.19", path = "version/derive", default-features = false }
iroha_wasm_codec = { version = "=2.0.0-pre-rc.19", path = "wasm_codec" }
test_network = { version = "=2.0.0-pre-rc.19", path = "core/test_network" }

proc-macro-error = "1.0.4"
proc-macro2 = "1.0.49"
syn = { package = "syn", version = "1.0.109", default-features = false }
syn2 = { package = "syn", version = "2.0.25", default-features = false }
quote = "1.0.23"
manyhow = { version = "0.5.1", features = ["darling"] }
darling = "0.20.1"

futures = { version = "0.3.25", default-features = false }
async-stream = "0.3.3"
tokio = "1.23.0"
tokio-stream = "0.1.11"
tokio-tungstenite = "0.17.2"

crossbeam = "0.8.2"
crossbeam-queue = "0.3.8"
parking_lot = { version = "0.12.1" }

once_cell = "1.16.0"
tempfile = "3.3.0"
path-absolutize = "3.1.0"
pathdiff = "0.2.1"
itertools = "0.10.5"
bytes = "1.4.0"

vergen = { version = "8.1.1", default-features = false }
trybuild = "1.0.73"
impls = "1.0.3"

base64 = { version = "0.13.1", default-features = false }
hex = { version = "0.4.3", default-features = false }

fixnum = { version = "0.9.1", default-features = false }
url = "2.3.1"
prometheus = { version = "0.13.3", default-features = false }

clap = "4.2.1"
owo-colors = "3.5.0"
supports-color = "2.0.0"
inquire = "0.6.2"
spinoff = "0.7.0"
duct = "0.13.6"

criterion = "0.3.6"
proptest = "1.0.0"
expect-test = "1.4.1"

eyre = "0.6.8"
color-eyre = "0.6.2"
thiserror = { version = "1.0.38", default-features = false }
displaydoc = { version = "0.2.4", default-features = false }

cfg-if = "1.0.0"
derive_more = { version = "0.99.17", default-features = false }
async-trait = "0.1.60"
strum = { version = "0.24.1", default-features = false }
getset = "0.1.2"
hex-literal = "0.3.4"

ursa = "0.3.7"
aead = "0.3.2"

rand = "0.8.5"
warp = { version = "0.3.5", default-features = false }
wasmtime = "11.0.1"

tracing = "0.1.37"
tracing-core = "0.1.30"
tracing-subscriber = { version = "0.3.16", default-features = false }
tracing-futures = { version = "0.2.5", default-features = false }
tracing-bunyan-formatter = { version = "0.3.4", default-features = false }

dashmap = "5.4.0"
rustc-hash = "1.1.0"

serde = { version = "1.0.151", default-features = false }
serde_json = { version = "1.0.91", default-features = false }
serde_yaml = "0.9.21"
serde_with = { version = "2.2.0", default-features = false }
parity-scale-codec = { version = "3.2.1", default-features = false }
json5 = "0.4.1"

[workspace]
resolver = "2"
members = [
  "cli",
  "cli/derive",
  "client",
  "client_cli",
  "config",
  "config/base",
  "config/base/derive",
  "core",
  "core/test_network",
  "crypto",
  "data_model",
  "derive_primitives",
  "genesis",
  "primitives",
  "primitives/derive",
  "dsl",
  "ffi",
  "ffi/derive",
  "futures",
  "futures/derive",
  "logger",
  "macro",
  "macro/derive",
  "macro/utils",
  "p2p",
  "schema",
  "schema/derive",
  "schema/gen",
  "substrate",
  "telemetry",
  "tools/kagami",
  "tools/kura_inspector",
  "tools/parity_scale_decoder",
  "version",
  "version/derive",
  "wasm_codec",
  "wasm_codec/derive",
  "wasm_builder",
]

[profile.deploy]
inherits = "release"
opt-level = 3
debug = false
strip = "symbols"
debug-assertions = false
lto = true
incremental = false
