[workspace.package]
edition = "2021"
version = "2.0.0-pre-rc.13"
# TODO: teams are being deprecated update the authors URL
authors = ["Iroha 2 team <https://github.com/orgs/soramitsu/teams/iroha2>"]

description = "Efficient, simple, Byzantine-fault-tolerant DLT inspired by the Kaizen principle"
repository = "https://github.com/hyperledger/iroha/tree/iroha2-lts"
documentation = "https://hyperledger.github.io/iroha-2-docs"
homepage = "https://iroha.tech"

license = "Apache-2.0"
keywords = ["blockchain", "crypto", "iroha", "ledger"]
categories = ["cryptography::cryptocurrencies"]

[workspace]
members = [
  "actor",
  "actor/derive",
  "cli",
  "cli/derive",
  "client",
  "client_cli",
  "config",
  "config/base",
  "config/base/derive",
  "core",
  "core/test_network",
  "crypto",
  "data_model",
  "primitives",
  "ffi",
  "ffi/derive",
  "futures",
  "futures/derive",
  "logger",
  "macro",
  "macro/derive",
  "macro/utils",
  "p2p",
  "schema",
  "schema/derive",
  "schema/gen",
  "substrate",
  "telemetry",
  "tools/kagami",
  "tools/kura_inspector",
  "tools/parity_scale_decoder",
  "version",
  "version/derive",
  "wasm_builder",
]

[profile.deploy]
inherits = "release"
opt-level = 3
debug = false
strip = "symbols"
debug-assertions = false
lto = true
incremental = false
