version: "3.8"
services:
  iroha0:
    build: .
    image: iroha2:lts
    platform: linux/amd64
    environment:
      TORII_P2P_ADDR: iroha0:1337
      TORII_API_URL: iroha0:8080
      TORII_TELEMETRY_URL: iroha0:8180
      IROHA_PUBLIC_KEY: "ed01201C61FAF8FE94E253B93114240394F79A607B7FA55F9E5A41EBEC74B88055768B"
      IROHA_PRIVATE_KEY: '{"digest_function": "ed25519", "payload": "282ED9F3CF92811C3818DBC4AE594ED59DC1A2F78E4241E31924E101D6B1FB831C61FAF8FE94E253B93114240394F79A607B7FA55F9E5A41EBEC74B88055768B"}'
      SUMERAGI_TRUSTED_PEERS: '[{"address":"iroha0:1337", "public_key": "ed01201C61FAF8FE94E253B93114240394F79A607B7FA55F9E5A41EBEC74B88055768B"}]'
      IROHA_GENESIS_ACCOUNT_PUBLIC_KEY: 'ed01203F4E3E98571B55514EDC5CCF7E53CA7509D89B2868E62921180A6F57C2F4E255'
      IROHA_GENESIS_ACCOUNT_PRIVATE_KEY: '{"digest_function": "ed25519", "payload": "038AE16B219DA35AA036335ED0A43C28A2CC737150112C78A7B8034B9D99C9023F4E3E98571B55514EDC5CCF7E53CA7509D89B2868E62921180A6F57C2F4E255"}'
      IROHA_GENESIS_WAIT_FOR_PEERS_RETRY_COUNT_LIMIT: 100
      IROHA_GENESIS_WAIT_FOR_PEERS_RETRY_PERIOD_MS: 500
      IROHA_GENESIS_GENESIS_SUBMISSION_DELAY_MS: 1000
    ports:
      - "1337:1337"
      - "8080:8080"
      - "8180:8180"
    init: true
    command: iroha --submit-genesis
    volumes:
      - './configs/peer/lts:/config'
