[package]
name = "iroha_schema_derive"
version = "0.0.0"
edition = "2018"
publish = false

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = "1.0.72"
parity-scale-codec = { version = "2", features = ["derive"] }
