alabaster==0.7.10
argh==0.26.2
Babel==2.9.1
backports-abc==0.5
certifi==2017.11.5
chardet==3.0.4
docopt==0.6.2
docutils==0.14
idna==2.6
imagesize==0.7.1
Jinja2
livereload==2.5.1
MarkupSafe
pathtools==0.1.2
pipreqs==0.4.9
port-for==0.3.1
protobuf==3.15.0
Pygments==2.7.4
pytz==2017.3
PyYAML==5.4
requests
restructuredtext-lint==1.1.2
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx
sphinx-autobuild==0.7.1
sphinx-intl==0.9.11
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.0.1
tornado==5.1
typing==3.6.2
urllib3
watchdog==0.8.3
yarg==0.1.9
mistune==2.0.3
pygments-lexer-solidity
sphinxext-remoteliteralinclude
