[package]
name = "iroha_data_model_derive"
version = "2.0.0-pre-rc.8"
authors = ["Iroha 2 team <https://github.com/orgs/soramitsu/teams/iroha2>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
proc-macro = true

[dependencies]
syn = "1.0.99"
quote = "1.0.21"
proc-macro2 = "1.0.43"

[dev-dependencies]
iroha_data_model = { version = "=2.0.0-pre-rc.8", path = "../" }
iroha_schema = { version = "=2.0.0-pre-rc.8", path = "../../schema" }
parity-scale-codec = { version = "3.1.5", default-features = false, features = ["derive"] }
serde = { version = "1.0.142", default-features = false, features = ["derive"] }
