#!/bin/sh

NAME=$(git config user.name)
EMAIL=$(git config user.email)

if [ -z "$NAME" ]; then
    echo "ERROR: Set user name with 'git config user.name \"<name>\"'"
    exit 1
fi

if [ -z "$EMAIL" ]; then
    echo "ERROR: Set user email with 'git config user.email \"<email>\"'"
    exit 1
fi

git interpret-trailers --if-exists doNothing --trailer "Signed-off-by: $NAME <$EMAIL>" --in-place "$1"
