<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="git" />
  <package id="curl" />
  <package id="jre8" />
  <package id="python" />
  <package id="ninja" />
  <package id="cmake" version="3.14.4" installArguments="ADD_CMAKE_TO_PATH=System"/>
  <package id="visualstudio2019-workload-vctools" packageParameters="--wait" />
  <package id="vcredist2013" />
  <package id="postgresql9" version="9.5.20" packageParameters="/Password:mysecretpassword" />
</packages>
