name: I2::Dev::Static

on:
  pull_request:
    branches: [iroha2-dev]
    paths:
      - '**.rs'
      - '**.json'
      - '**.toml'
      - '.github/workflows/**.yml'

      # Not part of the workspace
      - '!wasm/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUSTUP_TOOLCHAIN: nightly-2023-06-25

jobs:
  analysis:
    runs-on: ubuntu-latest
    container:
      image: hyperledger/iroha2-ci:nightly-2023-06-25
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2

      - name: Format
        run: cargo fmt --all -- --check
      - name: Lints without features
        if: always()
        run: cargo clippy -Zlints --workspace --benches --tests --examples --no-default-features --quiet
      - name: Lints with all features enabled
        if: always()
        run: cargo clippy -Zlints --workspace --benches --tests --examples --all-features --quiet
      - name: Documentation
        if: always()
        run: cargo doc --no-deps --quiet
