name: Iroha 2 main branch workflow

on:
  push:
    branches: [iroha2]

env:
  CACHE_PATHS: |
    ~/.cargo/registry
    ~/.cargo/git
    ~/.rustup
    target
    iroha/target
    iroha_client/target

jobs:
  coverage:
    runs-on: [self-hosted, Linux] #ubuntu-latest
    container: rust:1.52-buster
    steps:
      - uses: actions/checkout@v2
      - name: Set nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-02-20
          override: true
      - name: Cargo clean
        uses: actions-rs/cargo@v1
        with:
          command: clean
      - name: Cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace -- --test-threads=1
        env:
          CARGO_INCREMENTAL: "0"
          RUSTFLAGS: "-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests"
          RUSTDOCFLAGS: "-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests -Cpanic=abort"
      - name: Generate coverage report
        id: coverage
        uses: actions-rs/grcov@v0.1
      - name: Archive code coverage results
        uses: actions/upload-artifact@v1
        with:
          name: code-coverage-report
          path: ${{ steps.coverage.outputs.report }}
      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@v1
        with:
          file: ${{ steps.coverage.outputs.report }}

  bench:
    runs-on: [self-hosted, Linux] #ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ${{ env.CACHE_PATHS }}
          key: ${{ hashFiles('Cargo.toml') }}
      - name: Run benchmarks
        run: cargo bench --workspace --verbose

  deploy:
    needs: [coverage, bench]
    runs-on: [self-hosted, Linux] #ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ${{ env.CACHE_PATHS }}
          key: ${{ hashFiles('Cargo.toml') }}
      - name: Test
        run: cargo test --workspace --release --verbose -- --test-threads=1
      - name: Build
        run: cargo build --release --verbose
      - name: Archive build
        uses: actions/upload-artifact@v1
        with:
          name: cargo-build-release
          path: target/release/iroha
      - name: Archive Client CLI build
        uses: actions/upload-artifact@v1
        with:
          name: cargo-client-cli-build-release
          path: target/release/iroha_client_cli
      - name: Archive Crypto CLI build
        uses: actions/upload-artifact@v1
        with:
          name: cargo-crypto-cli-build-release
          path: target/release/iroha_crypto_cli
      - name: Build and push Iroha Docker image
        uses: docker/build-push-action@v1.1.0
        with:
          username: humb1t
          password: ${{ secrets.DOCKERHUB }}
          repository: hyperledger/iroha
          tags: iroha2
          build_args: TARGET_DIR=release,PROFILE=--release
      - name: Build and push Iroha CLI Docker image
        uses: docker/build-push-action@v1.1.0
        with:
          username: humb1t
          password: ${{ secrets.DOCKERHUB }}
          repository: hyperledger/iroha
          tags: iroha2-cli
          build_args: BIN=iroha_client_cli,TARGET_DIR=release,PROFILE=--release
      - name: Build and push Iroha Crypto CLI Docker image
        uses: docker/build-push-action@v1.1.0
        with:
          username: humb1t
          password: ${{ secrets.DOCKERHUB }}
          repository: hyperledger/iroha
          tags: iroha2-crypto-cli
          build_args: BIN=iroha_crypto_cli,TARGET_DIR=release,PROFILE=--release
