name: I2::Release::Publish

on:
  push:
    branches: [iroha2-stable, iroha2-lts]

env:
  CARGO_TERM_COLOR: always

jobs:
  registry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
      - name: Get tag from branch name
        run: |
          BRANCH=${{ github.ref_name }}
          PREFIX='iroha2-'
          TAG=${BRANCH#$PREFIX}
          echo "TAG=$TAG" >>$GITHUB_ENV
      - name: Get the release from a branch name
        run: |
          RELEASE=$(curl -s https://raw.githubusercontent.com/hyperledger/iroha/${{ github.ref_name }}/Cargo.toml | sed -n '3p' | sed -e 's/version = "//g' -e 's/"$//' | tr -d '\n')
          echo "RELEASE=$RELEASE" >>$GITHUB_ENV
      - name: Build and export to Docker iroha2 image
        uses: docker/build-push-action@v5
        if: always()
        with:
          context: .
          load: true
          file: Dockerfile
          tags: |
            iroha2:${{ env.TAG }}
            hyperledger/iroha2:${{ env.TAG }}
            hyperledger/iroha2:${{ env.TAG }}-${{ env.RELEASE }}
            docker.soramitsu.co.jp/iroha2/iroha2:${{ env.TAG }}-${{ env.RELEASE }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Test docker-compose.single.yml before pushing
        run: |
          docker compose -f docker-compose.single.yml up --wait || exit 1
          docker compose -f docker-compose.single.yml down
      - name: Test docker-compose.local.yml before pushing
        run: |
          docker compose -f docker-compose.local.yml up --wait || exit 1
          docker compose -f docker-compose.local.yml down
      - name: Test docker-compose.yml before pushing
        run: |
          docker compose -f docker-compose.yml up --wait || exit 1
          docker compose -f docker-compose.yml down
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to Soramitsu Harbor
        uses: docker/login-action@v3
        with:
          registry: docker.soramitsu.co.jp
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_TOKEN }}
      - name: Build and push iroha2 image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            hyperledger/iroha2:${{ env.TAG }}
            hyperledger/iroha2:${{ env.TAG }}-${{ env.RELEASE }}
            docker.soramitsu.co.jp/iroha2/iroha2:${{ env.TAG }}-${{ env.RELEASE }}
          labels: commit=${{ github.sha }}

  configs:
    runs-on: ubuntu-latest
    container:
      image: hyperledger/iroha2-ci:nightly-2024-01-12
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: iroha2-dev
          token: ${{ secrets.G_ACCESS_TOKEN }}
      - name: Update configs
        run: |
          ./scripts/update_configs.sh lts
          ./scripts/update_configs.sh stable
      - name: Commit config changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: '[documentation]: Update lts/stable configs following a release'
          branch: iroha2-dev
          commit_options: '--signoff'
          commit_user_name: sorabot
          commit_user_email: <>
          commit_author: sorabot <actions@github.com>
