name: Iroha 2 main branch workflow

on:
  push:
    branches: [ iroha2-dev ]
env:
  CACHE_PATHS: |
    ~/.cargo/registry
    ~/.cargo/git
    ~/.rustup
    target
    iroha/target
    iroha_client/target
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set nightly toolchain  
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly-2021-02-20
        override: true
    - name: Cargo clean
      uses: actions-rs/cargo@v1
      with:
        command: clean
    - name: Cargo test
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --workspace -- --test-threads=1
      env:
        CARGO_INCREMENTAL: '0'
        RUSTFLAGS: '-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests'
        RUSTDOCFLAGS: '-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests -Cpanic=abort'
    - name: Generate coverage report
      id: coverage
      uses: actions-rs/grcov@v0.1
    - name: Archive code coverage results
      uses: actions/upload-artifact@v1
      with:
        name: code-coverage-report
        path: ${{ steps.coverage.outputs.report }}
    - name: Upload coverage to codecov.io
      uses: codecov/codecov-action@v1
      with:
        file: ${{ steps.coverage.outputs.report }}
  bench:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: ${{ env.CACHE_PATHS }}
        key: ${{ hashFiles('Cargo.toml') }}
    - name: Run benchmarks
      run: cargo bench --workspace --verbose
  publish-artifacts:
    needs: [coverage, bench]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: ${{ env.CACHE_PATHS }}
        key: ${{ hashFiles('Cargo.toml') }}
    - name: Build
      run: cargo build --release --verbose
    - name: Archive build 
      uses: actions/upload-artifact@v1
      with:
        name: cargo-build-release
        path: target/release/iroha
    - name: Archive Client CLI build 
      uses: actions/upload-artifact@v1
      with:
        name: cargo-client-cli-build-release
        path: target/release/iroha_client_cli
    - name: Archive Crypto CLI build 
      uses: actions/upload-artifact@v1
      with:
        name: cargo-crypto-cli-build-release
        path: target/release/iroha_crypto_cli
