name: I2::Release::Deploy

on:
  push:
    branches: [iroha2-lts]

concurrency:
  group: I2::Release::Deploy-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  deploy:
    runs-on: [self-hosted, Linux]
    container:
      image: 7272721/i2-ci:latest
    steps:
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v1
      - name: set up buildx
        uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
          driver: docker

      - name: Build iroha2:base image
        uses: docker/build-push-action@v3
        with:
          load: true
          tags: iroha2:base
          context: .
          file: Dockerfile.ci        

      - name: Build iroha2:build docker image
        uses: docker/build-push-action@v3
        with:
          load: true
          tags: iroha2:build
          context: .
          file: Dockerfile.build

      - name: build iroha2:stable docker image
        run: |
          docker build -f Dockerfile -t hyperledger/iroha2:stable .
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: push iroha2:stable docker image
        run: |
          docker push hyperledger/iroha2:stable

      - name: Build and push docker image (load-rs:release)
        run: |
          sleep 10s
          echo "wait to finish other workflow"
      - uses: convictional/trigger-workflow-and-wait@v1.6.2
        with:
          owner: soramitsu
          repo: iroha2-longevity-load-rs
          github_token: ${{ secrets.G_ACCESS_TOKEN }}
          workflow_file_name: load-rs-push-from-release.yaml
          ref: release
