name: I2::Dev::Title

on:
  pull_request_target:
    branches: [main]
    types: [opened, edited, reopened]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Feature
        uses: actions-ecosystem/action-regex-match@v2
        id: feature-match
        with:
          text: ${{ github.event.pull_request.title }}
          regex: '^\[feature\] #\d+(, #\d+)*: .+$'
      - name: Add feature label
        uses: actions-ecosystem/action-add-labels@v1
        if: steps.feature-match.outputs.match != ''
        continue-on-error: true
        with:
          github_token: ${{ secrets.github_token }}
          labels: |
            Enhancement

      - name: Refactor
        uses: actions-ecosystem/action-regex-match@v2
        id: refactor-match
        if: steps.feature-match.outputs.match == ''
        with:
          text: ${{ github.event.pull_request.title }}
          regex: '^\[refactor\]( #\d+(, #\d+)*)?: .+$'
      - name: Add Refactor label
        uses: actions-ecosystem/action-add-labels@v1
        if: steps.refactor-match.outputs.match != ''
        continue-on-error: true
        with:
          github_token: ${{ secrets.github_token }}
          labels: |
            Refactor

      - name: Fix
        uses: actions-ecosystem/action-regex-match@v2
        id: fix-match
        if: steps.refactor-match.outputs.match == ''
        with:
          text: ${{ github.event.pull_request.title }}
          regex: '^\[fix\] #\d+(, #\d+)*: .+$'
      - name: Add fix label
        uses: actions-ecosystem/action-add-labels@v1
        if: steps.fix-match.outputs.match != ''
        continue-on-error: true
        with:
          github_token: ${{ secrets.github_token }}
          labels: |
            Bug

      - name: Documentation
        uses: actions-ecosystem/action-regex-match@v2
        id: docs-match
        if: steps.fix-match.outputs.match == ''
        with:
          text: ${{ github.event.pull_request.title }}
          regex: '^\[documentation\]( #\d+(, #\d+)*)?: .+$'
      - name: Add Documentation label
        uses: actions-ecosystem/action-add-labels@v1
        if: steps.docs-match.outputs.match != ''
        continue-on-error: true
        with:
          github_token: ${{ secrets.github_token }}
          labels: |
            Documentation

      - name: CI
        uses: actions-ecosystem/action-regex-match@v2
        id: ci-match
        if: steps.docs-match.outputs.match == ''
        with:
          text: ${{ github.event.pull_request.title }}
          regex: '^\[ci\]( #\d+(, #\d+)*)?: .+$'
      - name: Add CI label
        uses: actions-ecosystem/action-add-labels@v1
        if: steps.ci-match.outputs.match != ''
        continue-on-error: true
        with:
          github_token: ${{ secrets.github_token }}
          labels: |
            CI

      - name: Chore
        uses: actions-ecosystem/action-regex-match@v2
        id: chore-match
        if: steps.ci-match.outputs.match == ''
        with:
          text: ${{ github.event.pull_request.title }}
          regex: '^\[chore\]( #\d+(, #\d+)*)?: .+$'
      - name: Add Chore label
        uses: actions-ecosystem/action-add-labels@v1
        if: steps.chore-match.outputs.match != ''
        continue-on-error: true
        with:
          github_token: ${{ secrets.github_token }}
          labels: |
            chore

      - name: None of the above
        if: steps.fix-match.outputs.match == '' && steps.refactor-match.outputs.match == '' && steps.feature-match.outputs.match == '' && steps.docs-match.outputs.match == '' && steps.ci-match.outputs.match == '' && steps.chore-match.outputs.match == ''
        run: exit 1
