name: Iroha 2 main branch workflow

on:
  push:
    branches: [iroha2]

env:
  CARGO_TERM_COLOR: always

jobs:
  coverage:
    runs-on: ubuntu-latest
    container: rust:1.56-buster
    steps:
      - uses: actions/checkout@v2
      - name: Set nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-02-20
          override: true
      - name: Cargo clean
        uses: actions-rs/cargo@v1
        with:
          command: clean
      - name: Cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace -- --test-threads=1
        env:
          CARGO_INCREMENTAL: "0"
          RUSTFLAGS: "-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests"
          RUSTDOCFLAGS: "-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests -Cpanic=abort"
      - name: Generate coverage report
        id: coverage
        uses: actions-rs/grcov@v0.1
      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: ${{ steps.coverage.outputs.report }}
      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@v1
        with:
          file: ${{ steps.coverage.outputs.report }}

  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run benchmarks
        run: cargo bench --workspace --verbose

  deploy:
    needs: [coverage, bench]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: cargo test --workspace --release --verbose -- --test-threads=1
      - name: Build
        run: cargo build --release --verbose
      - name: Archive build
        uses: actions/upload-artifact@v2
        with:
          name: cargo-build-release
          path: target/release/iroha_core
      - name: Archive Client CLI build
        uses: actions/upload-artifact@v2
        with:
          name: cargo-client-cli-build-release
          path: target/release/iroha_client_cli
      - name: Archive Crypto CLI build
        uses: actions/upload-artifact@v2
        with:
          name: cargo-crypto-cli-build-release
          path: target/release/iroha_crypto_cli

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Iroha Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: hyperledger/iroha2
          build-args: |
            TARGET_DIR=release
            PROFILE=--release
      - name: Build and push Iroha client cli Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: hyperledger/iroha2:client-cli
          build-args: |
            TARGET_DIR=release
            PROFILE=--release
            BIN=iroha_client_cli
      - name: Build and push Iroha Crypto CLI Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: hyperledger/iroha2:crypto-cli
          build-args: |
            TARGET_DIR=release
            PROFILE=--release
            BIN=iroha_crypto_cli
