{
  "torii_port" : 50051,
  "torii_tls_params": {
    "port": 55552,
    "key_pair_path": "/opt/iroha/test/system/irohad_test_data/tls/correct"
  },
  "internal_port" : 10001,
  "pg_opt" : "host=localhost port=5432 user=postgres password=mysecretpassword",
  "max_proposal_size" : 10,
  "vote_delay" : 5000,
  "mst_enable" : false,
  "mst_expiration_time" : 1440
}

